* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 5px solid gold;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #d62114;
  background-image: linear-gradient(to top, #ff0844 0%, #ff8b68 100%);
  text-transform:uppercase;
  /* border: 3px solid gold; */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f82f18;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #ce3120;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

img{
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.link{
    text-decoration: none;
    color: #ff8b68;
}

.menu {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: auto;
}

.normal{
    text-align: center;
    margin: 30px;
}

.oberlin__img{
  border: 3px solid black;
  padding: 4px;
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  max-width: 300px;
}

p{
  font-size: 1.1rem;
}

.station{
  size: 30px;
  margin: 30px;
  border: 0px black;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some nice padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 30px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #b40000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d34141;
}

input[type=text]:hover {
  background-color: #f2f2f2;
}

.form__container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  display:block; 
  width:80%; 
  margin:0 auto;
  margin-bottom: 5px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: 0px solid red;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.premenu{
  display:block; 
  width:80%; 
  margin:0 auto;
}


.food__item{
  border: 1px solid black;
  margin: auto;
  text-align: center;
  width: 80%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display:block; 
  margin:0 auto;
  padding: 0 18px;
  display: none;
  width: 80%;
  overflow: hidden;
  background-color: #f1f1f1;
  /* border: 3px solid black; */
}

form {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  width: 750px;
  margin: auto;
  left:0;
  right:0;
}

/* Customize the label (the container) */
.label__container {
  /* display: block;
  position: relative; */
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.label__container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label__container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label__container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* horizontal line */

.horizontal{
  border: 1px solid black;
  width:100%;
  text-align:left;
  margin-left:0; 
  margin-top: 5px; 
  margin-bottom: 5px;
}

.sort__label{
  display:block; 
  width:80%; 
  margin:0 auto;
  color: #444;
  text-align: center;
}
